body{
    margin:0px;
    padding:0px;
}
ul{
    width:300px;
    padding:0px;
    height:80px;
    margin-top: 20px;
}
li{
    list-style: none;
    margin: 0px;
    padding:0px;
    float: right;
    line-height:28px;
    display: inline;
    white-space: nowrap;
}
dd{
    margin-left: 100px;
}
#contain{
   margin: 40px;
}
#left{
    width: 25%;
    float: left;
    margin-left: 40px;
}
.left_head{
    float: right;
    margin-right: 10px;
}

hr{
    width:10px; 
    height:1100px; 
    position: absolute; 
    left: 550px;
}

#right{
    width: 70%;
    float: right;

}
.float_Lbry{
    margin-left: 13px;
}
.help{
    font-size: small;
    float: right;
    margin:10px 200px;
}